<!DOCTYPE html>
<html>
<head>
  <title>Berlin Bikes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<% if notice %>
    <p class="alert alert-info"><%= notice %></p>
   <% else %>
   	<p class="alert alert-info"><%= alert %></p>
	<% end %>
	
  <%= render 'layouts/navigation' %>

	<div class="container-fluid">
	  <%= yield %>
	</div>

	<footer>
	  <p>&copy; Berlin Bikes. 2016 All Rights Reserved.</p>
	</footer>

</body>
</html>
